<!DOCTYPE html>
<html ng-app="soundipic" ng-controller="AppCtrl">
<head>
  <title>Soundipic</title>

  <script src="//use.typekit.net/dkq7che.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <% styles.forEach(function(file) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  <% scripts.forEach(function(file) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>
</head>
<body>

  <h1 class="title">Soundipic</h1>

  <div ui-view="main"></div>

</body>
</html>
